@{
    ViewData["Title"] = "Yedibela Balcılık";
}


<div class="container text-center mt-5" id="yedibela-page">
    <h1 class="display-3 text-warning fw-bold">İletişim</h1>
    <p class="lead text-dark">Telefon: +90 536 787 40 71</p>

    <div class="row justify-content-center g-4">
        <!-- BAL -->
        <div class="col-md-5 col-sm-12">
            <div class="p-4 shadow-lg rounded">
                <img src="~/images/telefon.png" class="img-fluid rounded" alt="Bal" style="max-width: 200px;">
                <div class="mt-3">
                    <p>
                    <a href="mailto:vahdet.yedibela@gmail.com" class="btn btn-warning">

                    <img src="~/images/mail.png" alt="Gmail" style="width: 30px; height: 30px; margin-right: 10px;"> Mail Gönder
                        </a>
                    </p>
                     <p>vahdet.yedibela@gmail.com</p>
                    <p>Adres: Erzurum, Türkiye</p>


                </div>

                    <div class="row mt-5">
        <div class="col text-center">
            <a href="https://wa.me/905367874071?text=Merhaba,%20iyi%20günler.%0A%0ASiteniz%20üzerinden%20ürünlerinizi%20inceledim%20ve%20sipariş%20vermek%20istiyorum.%0A%0AMevcut%20stok%20durumunuz%20ve%20ödeme%20seçenekleriniz%20hakkında%20bilgi%20alabilir%20miyim?%0A%0ATeşekkür%20ederim."
                class="btn btn-success btn-lg shadow-lg px-4 py-2" target="_blank">
                <img src="~/images/whatsapp-logo.png" alt="WhatsApp" style="width: 50px; height: 50px; margin-right: 10px;"> WhatsApp
            </a>
        </div>
    </div>

    <div class="mt-4">
        <a href="/Home" class="btn btn-secondary">Anasayfaya Dön</a>
    </div>
            </div>
        </div>
    </div>
</div>
