@{
    ViewData["Title"] = "Yedibela Balcılık";
}


<div class="container text-center mt-5" id="yedibela-page">
    <h1 class="display-3 text-warning fw-bold">İletişim</h1>
    <p class="lead text-dark">Telefon: +90 536 787 40 71</p>

    <div class="row justify-content-center g-4">
        <!-- BAL -->
        <div class="col-md-5 col-sm-12">
            <div class="p-4 shadow-lg rounded">
                <img src="~/images/telefon.png" class="img-fluid rounded" alt="Bal" style="max-width: 200px;">
                <div class="mt-3">
                    <p>
                    <a href="mailto:vahdet.yedibela@gmail.com" class="btn btn-warning">

                    <img src="~/images/mail.png" alt="Gmail" style="width: 30px; height: 30px; margin-right: 10px;"> Mail Gönder
                        </a>
                    </p>
                     <p>vahdet.yedibela@gmail.com</p>
                    <p>Adres: Erzurum, Türkiye</p>
                </div>
            </div>
        </div>
    </div>
</div>
