@model List<Product>

<div class="container mt-5 text-center">
    <h1 class="text-warning fw-bold">Ürünlerimiz</h1>

    <div class="mt-4">
        <a href="/Products/Honey" class="btn btn-warning btn-lg shadow me-2">Bal Ürünleri</a>
        <a href="/Products/Cheese" class="btn btn-warning btn-lg shadow me-2">Peynir Ürünleri</a>
          <a href="/Products/Butter" class="btn btn-warning btn-lg shadow me-2">Tereyağı Ürünleri</a>
          <a href="/Products/TDD" class="btn btn-warning btn-lg shadow me-2">Geleneksel Kurutulmuş Lezzetler</a>
          <a href="/Products/Meat" class="btn btn-warning btn-lg shadow ">Et Ürünleri</a>
    </div>
</div>
